.button-guadagno-com {
    border-radius: 8px;
    width: 80%;
    border: 1px solid black;
    padding: 0.4em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #ffffff;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .button-guadagno-com:hover {
    border-color: #646cff;
  }
  .button-guadagno-com:focus,
  .button-guadagno-com:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  

  .div-guadagano-comp{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: black;
  }


  .linkGuadagno{
    text-decoration: none;
    color: black;
  }
